@media (min-width: 767px){
	.wp-boloc .filter {
	    position: absolute;
	    right: 0px;
	}
}

@media (min-width: 1200px){
	span.dropdown-toggle {
	    display: none;
	}
	.container-fluid.pd-0 {
	    padding: 0px;
	}

	.img-banner img {
	    height: 765px;
	}
	.img-tin img {
	    height: 690px;
	    width: 490px;
	}
	.img-uudai img {
	    height: 450px;
	    border: 1px solid #eee;
	}
	.sp-nb1 img {
	    height: 744px;
	}
	.inst-1 div img,
	.inst-3 div img {
	    height: 245px;
	}
	.sec-instagam .inst-2 img {
	    height: 500px;
	}
	.sec-instagam .inst-2 {
	    padding: 0px !important;
	}
    .wp-img-tin-a img {
        height: 300px;
    }
    .wp-item-sp-222 .wp-img-to img {
        height: 438px;
    }
    .wp-item-sp-222 .wp-img-nho img {
        height: 95px;
    }
    .wp-header-thanhtoan {
        height: 135px;
    }
    .row.row-tt {
        display: flex;
    }
    .row.row-tt .col-md-6:nth-child(1) {
        background: #f1f1f1;
        border-left: 1px solid #ccc;
        order: 2;
        transform: translateY(-135px);
    }
    .row.row-tt .col-md-6:nth-child(2) {
        order: 1;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-home-03 .h2-title {
        font-size: 25px;
        margin-top: 20px;
    }
    .text-home-03 .btn-shopnow {
        font-size: 13px;
    }
    .sec-home-05 {
        margin-top: 20px;
    }
    .wp-main-header {
        top: 10px;
    }
    .mobile-main-menu.active {
        top: 70px !important;
    }
    .wp-main-header {
        height: 71px;
    }
    .img-tin img {
        height: auto;
    }
    .text-home-03{
        padding-left: 30px;
    }
    .wp-list-sp-slide {
        height: 234px;
        overflow: hidden;
    }
    .box-datmua .wp-btn button, .box-datmua .wp-btn a{
        font-size: 17px;
        padding: 0px 10px;
    }
    .wp-tab-mota ul li a{
        padding: 0px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .wp-dichvu .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .wp-dichvu .row .col-md-4 {
        padding-left: 5px;
        paint-order: 5px;
    }
    .img-tin img {
        height: auto;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
    .wp-item-sp-222 .wp-img-to img {
        height: 450px;
    }
    .wp-list-sp-slide {
        height: 318px;
        overflow: hidden;
    }
    .box-datmua .wp-btn button, .box-datmua .wp-btn a{
        font-size: 17px;
        padding: 0px 10px;
    }
    .wp-item-dv {
        padding: 15px 5px;
    }
    .wp-tab-mota ul li a{
        padding: 0px;
    }
}
@media (min-width: 1200px) and (max-width: 1366px) {
    .wp-list-sp-slide {
        height: 419px;
    }
    .sp-nb1 img {
        height: 750px;
        width: 100%;
        object-fit: cover;
    }
    .sec-home-07 .row {
        display: flex;
        flex-wrap: wrap;
    }
    .wp-item-spnb2 {
        height: 370px !important;
    }
}

@media (min-width: 1367px) and (max-width: 1520px) {
    .wp-list-sp-slide {
        height: 420px;
    }
    .sp-nb1 img {
        height: 750px;
        width: 100%;
        object-fit: cover;
    }
    .sec-home-07 .row {
        display: flex;
        flex-wrap: wrap;
    }
    .wp-item-spnb2 {
        height: 370px !important;
    }
}

@media (min-width: 1600px) and (max-height: 1920px) {
    .sp-nb1 img {
        height: 920px;
    }
    .wp-item-spnb2 {
        height: 455px;
    }
    .wp-list-sp-slide {
        height: 593.19px;
        overflow: hidden;
    }

}









